{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles %}

{% block meta_title %}Custom made wedding dresses, bridesmaid dresses, prom dresses, evening dresses at reasonable wholesale prices{% endblock %}

{% block meta_keywords %}custom bridal dresses, custom bridesmaid dresses, custom special occasion dresses, custom prom dresses, custom wedding dresses, pretty wedding dresses, made to order dresses, tailored wedding dresses{% endblock %}

{% block meta_description %}All wedding dresses, bridesmaid dresses, prom dresses, evening dresses and other special occasion dresses here are custom made according to your pictures. You can specify styles, colors and sizes you want, and we will strictly follow your requirements to make the dresses.{% endblock %}


{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}


{% block all_content %}

    <section id="{% block section_id %}featured{% endblock %}">
        {% block left_wrapper %}
        {% endblock %}

        {% block main_wrapper %}
            <div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
                {% block main %}

                    <!-- start slider -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Slider -->
                                <div id="main-slider" class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <img src="{% static "img/slides/slide1.jpg" %}" alt="Welcome to my shop"/>
                                        </li>

                                    </ul>
                                </div>
                                <!-- end slider -->
                            </div>
                        </div>
                    </div>

                {% endblock %}
            </div>
        {% endblock %}

        {% block right_wrapper %}
        {% endblock %}
    </section>


    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2><span>Why</span> Choose US</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Guranteed Quality</h4>
                                    <div class="icon">
                                        <i class="fa fa-desktop fa-3x"></i>
                                    </div>
                                    <p class="">
                                        Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                    </p>

                                </div>
                                <!-- <div class="box-bottom">
                                    <a href="/gallery/bridal-dresses/">Learn more</a>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Competitive Prices</h4>
                                    <div class="icon">
                                        <i class="fa fa-pagelines fa-3x"></i>
                                    </div>
                                    <p>
                                        Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                    </p>

                                </div>
 
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Customized Orders</h4>
                                    <div class="icon">
                                        <i class="fa fa-edit fa-3x"></i>
                                    </div>
                                    <p>
                                        Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                    </p>

                                </div>
   
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>No MOQ</h4>
                                    <div class="icon">
                                        <i class="fa fa-code fa-3x"></i>
                                    </div>
                                    <p>
                                        Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- divider -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->
            <!-- Portfolio Projects -->
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="heading">Features</h4>
                    <div class="row">
                        <section id="projects">
                            <ul class="portfolio" id="thumbs">
                                <!-- Item Project and Filter Name -->
                                <li data-type="web" data-id="id-0" class="col-lg-3 design">
                                    <div class="item-thumbs">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                        <a href="{% static "img/works/bridal-dresses.jpg" %}" title="Custom Bridal Dresses"
                                           data-fancybox-group="gallery" class="hover-wrap fancybox">
                                            <span class="overlay-img"></span>
                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                        </a>
                                        <!-- Thumb Image and Description -->
                                        <img alt="We provide high quality and pretty bridal dresses customized for you."
                                             src="{% static "img/works/bridal-dresses.jpg" %}">
                                    </div>
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li data-type="icon" data-id="id-1" class="item-thumbs col-lg-3 design">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a href="{% static "img/works/sepcial-occasion-dress.jpg" %}" title="Custom Special Occasion Dresses"
                                       data-fancybox-group="gallery" class="hover-wrap fancybox">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img alt="We provide prom dresses, evening dresses and other special occasion dresses."
                                         src="{% static "img/works/sepcial-occasion-dress.jpg" %}">
                                </li>
                                <!-- End Item Project -->
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
