{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles %}

{% block meta_title %}Custom made wedding dresses, bridesmaid dresses, prom dresses, evening dresses at reasonable wholesale prices{% endblock %}

{% block meta_keywords %}custom bridal dresses, custom bridesmaid dresses, custom special occasion dresses, custom prom dresses, custom wedding dresses, pretty wedding dresses, made to order dresses, tailored wedding dresses{% endblock %}

{% block meta_description %}All wedding dresses, bridesmaid dresses, prom dresses, evening dresses and other special occasion dresses here are custom made according to your pictures. You can specify styles, colors and sizes you want, and we will strictly follow your requirements to make the dresses.{% endblock %}


{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}


{% block all_content %}

    <section id="{% block section_id %}featured{% endblock %}">
        {% block left_wrapper %}
        {% endblock %}

        {% block main_wrapper %}
            <div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
                {% block main %}

                    <!-- start slider -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Slider -->
                                <div id="main-slider" class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <img src="{% static "img/slides/slide1.jpg" %}" alt="Welcome to my shop"/>
                                        </li>

                                    </ul>
                                </div>
                                <!-- end slider -->
                            </div>
                        </div>
                    </div>

                {% endblock %}
            </div>
        {% endblock %}

        {% block right_wrapper %}
        {% endblock %}
    </section>


    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2><span>Why</span> Choose US</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Customized Orders</h4>
                                    <div class="icon">
                                        <i class="fa fa-scissors fa-3x"></i>
                                    </div>
                                    <p>
                                        All dresses sold here are custom made according to customers’ pictures, so simply send me clear pictures of the dress you want if you have any needs for custom made dress.
                                    </p>

                                </div>
   
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Guranteed Quality</h4>
                                    <div class="icon">
                                        <i class="fa fa-certificate fa-3x"></i>
                                    </div>
                                    <p class="">
                                        I have a highly professional team, every member has more than 10 years of experience in dress making field, so I’m confident in the quality and craftsmanship of each of our product.
                                    </p>

                                </div>
                                <!-- <div class="box-bottom">
                                    <a href="/gallery/bridal-dresses/">Learn more</a>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Competitive Prices</h4>
                                    <div class="icon">
                                        <i class="fa fa-usd fa-3x"></i>
                                    </div>
                                    <p>
                                        I know only reasonable prices with high quality can make business go further, so I’m sure that my prices are the most competitive ones among other suppliers with the same quality.
                                    </p>

                                </div>
 
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>No MOQ</h4>
                                    <div class="icon">
                                        <i class="fa fa-circle-o fa-3x"></i>
                                    </div>
                                    <p>
                                        I suggest first-time customers to order one dress to check the quality first and also you can order one dress only in every subsequent purchase. Meanwhile, I’m looking forward to establish long-term cooperative relationship with you ^_^!
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- divider -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->

            <!-- Portfolio Projects -->
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="heading">Features</h4>
                    <div class="row">
                        <section id="projects">
                            <ul class="portfolio" id="thumbs">
                                <!-- Item Project and Filter Name -->
                                <li data-type="web" data-id="id-0" class="col-lg-3 design">
                                    <div class="item-thumbs">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                        <!-- <a href="{% static "img/works/bridal-dresses.jpg" %}" title="Custom Bridal Dresses"
                                           data-fancybox-group="gallery" class="hover-wrap fancybox">
                                            <span class="overlay-img"></span>
                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                        </a> -->
                                        <!-- Thumb Image and Description -->
                                        <a href="/bridal-dresses/" title="Custom Bridal Dresses">
                                        <img alt="We provide high quality and pretty bridal dresses customized for you."
                                             src="{% static "img/works/bridal-dresses.jpg" %}">
                                        </a>
                                    </div>
                                </li>
                                <!-- End Item Project -->

                                <!-- Item Project and Filter Name -->
                                <li data-type="icon" data-id="id-1" class="item-thumbs col-lg-3 design">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <!-- <a href="{% static "img/works/sepcial-occasion-dress.jpg" %}" title="Custom Special Occasion Dresses"
                                       data-fancybox-group="gallery" class="hover-wrap fancybox">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a> -->
                                    <!-- Thumb Image and Description -->
                                    <a href="/special-occasional-dresses/" title="Custom Special Occasion Dresses">
                                    <img alt="We provide prom dresses, evening dresses and other special occasion dresses."
                                         src="{% static "img/works/sepcial-occasion-dress.jpg" %}">
                                    </a>
                                </li>
                                <!-- End Item Project -->
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
